<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,width=device-width" name="viewport">

    <link rel="icon" href="favicon.ico" sizes="32x32" type="image/x-icon" />
    <link href="/Content/Css/Site.css" rel="stylesheet" />
    <link href="/Content/Css/bijou.min.css" rel="stylesheet" />

    <title>Web Service Mock</title>
</head>
<body>
    <div class="container">
        <div class="center row">
            <div class="span twelve">
                <h4>Rule</h4>
            </div>
        </div>

        <div class="row">
            <div class="span twelve">
                <a class="button primary large" href="/">Home</a>
                <span class="@Model.DisplayDelete">
                    <button id="deleteRule" class="right button danger large">Delete Rule</button>
                </span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="span three"><strong>Relative Url</strong> <i>(~@Model.StartUrl)</i></div>
            <div class="span nine"><input type="text" id="url" placeholder="/users" value="@Model.Url" /></div>
        </div>
        <div class="row">
            <div class="span three"><strong>HTTP Method</strong></div>
            <div class="span two">
                <select id="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </div>
            <div class="span two"><strong>Status Code</strong></div>
            <div class="span four"><input type="number" id="statusCode" value="@Model.StatusCode" /></div>
        </div>
        <div class="row">
            <div class="span three"><strong>Content Type</strong> <i>(Optional)</i></div>
            <div class="span nine"><input type="text" id="contentType" placeholder="application/json" value="@Model.ContentType" /></div>
        </div>
        <div class="row">
            <div class="span three"><strong>Response Body</strong> <i>(Optional)</i></div>
            <div class="span nine"><textarea id="body">@Model.Body</textarea></div>
        </div>

        <div class="row">
            <div class="span nine" id="msg"></div>
            <div class="span three"><button id="upsertRule" class="right button success large">@Model.SubmitMessage</button></div>
        </div>
    </div>

    <script src="/Content/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Content/Scripts/json.js"></script>

    <script>
        (function () {
            /* Gets the values from various HTMl elements, each value maps to a property on the rule object (from the Rule controller). */
            function getRule() {
                return {
                    id: '@Model.Id',
                    url: $('#url').val(),
                    statusCode: $('#statusCode').val(),
                    method: $('#method').val(),
                    contentType: $('#contentType').val(),
                    body: $('#body').val()
                };
            }

            /* Handles successful rule creations (200 statuscode responses), by redirecting the client to the rule view page (home). */
            function success(response, status) {
                location.href = '/';
            }

            /* Handles failed rule creations (400, and 500 statuscode responses), by displaying the error code to the client. */
            function error(response, status) {
                var message = status.code + ' ' + status.text;
                if (response) message += ': ' + response.Message;
                document.getElementById('msg').innerHTML = '<div class="alert danger"><p>' + message + '</p></div>';
            }
            
            $(function () {
                /* Sets the default selected HTTP method. */
                $('#method').val('@Model.Method');

                /* Sends the rule request to the server's API. */
                $('#upsertRule').click(function () {
                    _json.run('@Model.RequestType', '/Api/Rules', getRule(), success, error);
                });

                /* Deletes the current rule being displayed by sending its Id to the API's delete action. */
                $('#deleteRule').click(function () {
                    _json.run('DELETE', '/Api/Rules/@Model.Id', void(0), success, error);
                });
            });
        })();
    </script>
</body>
</html>